<nav class="navbar navbar-expand-lg fixed-top backgroundCol3 top-bar">
  <div class="container">
    <a class="navbar-brand mr-0" (click)="scrollTo('introduction')"
      >AGNIESZKA KOZIELSKA-ZIĘBA</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" id="togglerBtn"
        ><i class="fas fa-bars"></i
      ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="scrollTo('introduction')"
            >STRONA GŁÓWNA</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link scroll-link" (click)="scrollTo('about')">O MNIE</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            PORTFOLIO
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item scroll-link" (click)="scrollTo('webdev')"
              >HTML + CSS + JavaScript</a
            >
            <a class="dropdown-item scroll-link" (click)="scrollTo('gamedev')"
              >UNITY + C#</a
            >
            <a
              class="dropdown-item scroll-link"
              (click)="scrollTo('archicaddev')"
              >ARCHICAD I PROGRAMOWANIE GDL</a
            >
            <a
              class="dropdown-item scroll-link"
              (click)="scrollTo('architecture')"
              >ARCHITEKTURA I GRAFIKA</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
