<section class="container">
  <div class="row">
    <div class="col-lg-12 mb-3">
      <h1 class="mainTitles">O MNIE</h1>
    </div>
  </div>

  <div #mainGrid class="row grid">
    <app-expanding-card
      class="grid-item col-md-6 col-lg-4"
      cardTitle="technologie"
    >
      <ul class="card-text">
        <li>HTML+CSS+Javascript</li>
        <li>React</li>
        <li>jQuery</li>
        <li>Bootstrap</li>
        <li>D3</li>
        <li>NodeJS+Express+MongoDB</li>
        <li>Git</li>
        <li>MySQL</li>
        <li>GDL</li>
        <li>C#+Unity</li>
      </ul>
    </app-expanding-card>

    <app-expanding-card
      class="grid-item col-md-6 col-lg-4"
      cardTitle="programy graficzne"
    >
      <ul class="card-text">
        <li>Archicad</li>
        <li>Artlantis</li>
        <li>Photoshop</li>
        <li>Gimp</li>
        <li>Unity</li>
        <li>Rhinoceros</li>
      </ul>
    </app-expanding-card>

    <app-expanding-card
      class="grid-item col-md-6 col-lg-4"
      cardTitle="języki obce"
    >
      <ul class="card-text">
        <li>język angielski</li>
        <li>język niemiecki</li>
      </ul>
    </app-expanding-card>

    <app-expanding-card
      class="grid-item col-md-6 col-lg-4"
      cardTitle="doświadczenie"
    >
      <p class="card-text">
        2016-obecnie BIMobject Poland<br />
        stanowisko: Archicad Content Developer, Team Leader
        <br />
        <br />
        2014-2016 Przedsiębiorstwo Wdrożeniowe Techniki Komputerowej<br />
        NIKOM - ośrodek szkoleniowy<br />
        stanowisko: Wykładowca Archicada i Artlantisa
        <br />
        <br />
        2011-2014 Biuro Projektów Wielobranżowych Robiprojekt<br />
        stanowisko: Asystent Architekta
      </p>
    </app-expanding-card>

    <app-expanding-card
      class="grid-item col-md-6 col-lg-4"
      cardTitle="wykształcenie"
    >
      <p class="card-text">
        2014-2016 Politechnika Śląska, Wydział Architektury<br />
        Studia stacjonarne II stopnia<br />
        Kierunek: Architektura<br />
        Ocena z dyplomu: bardzo dobry z wyróżnieniem
        <br />
        <br />
        2010-2014 Politechnika Śląska, Wydział Architektury<br />
        Studia stacjonarne I stopnia<br />
        Kierunek: Architektura i Urbanistyka<br />
        Ocena z dyplomu: bardzo dobry
      </p>
    </app-expanding-card>

    <app-expanding-card
      class="grid-item col-md-6 col-lg-4"
      cardTitle="programowanie"
    >
      <p class="card-text">
        Moja praca jako developer obiektów dla programu Archicad polega na
        programowaniu ich za pomocą języka GDL. Wymaga to ode mnie nie tylko
        umiejętności programistycznych, ale także planowania mechanizmu
        działania mojego skryptu oraz ciągłego tworzenia nowych, kreatywnych
        rozwiązań. Znam także podstawy C++, a hobbistycznie programuję gry w
        języku C#, w środowisku Unity.
      </p>
    </app-expanding-card>

    <app-expanding-card
      class="grid-item col-md-6 col-lg-4"
      cardTitle="dydaktyka"
    >
      <p class="card-text">
        Dwa lata pracowałam jako wykładowca programu Archicad. Ten czas dał mi
        nie tylko doskonałą znajomość tego programu, ale także poszerzył moje
        umiejętności przemawiania oraz wystąpień publicznych. Także obecnie
        nagrywam tutoriale, oraz prowadzę wiele szkoleń, dzięki którym rozwijam
        te umiejętności.
      </p>
    </app-expanding-card>

    <app-expanding-card
      class="grid-item col-md-6 col-lg-4"
      cardTitle="grafika i projektowanie"
    >
      <p class="card-text">
        Ukończyłam studia architektoniczne na Politechnice Śląskiej, a także
        pracowałam jako architekt. W tym czasie opanowałam umiejętność
        projektowania architektonicznego, rozwinęłam wyczucie artystyczne, a
        także nauczyłam się podstaw grafiki 2D oraz 3D. Obecnie pracuję jako
        developer obiektów dla programu Archicad. Pozwala mi to na poszerzanie
        umiejętności projektowania interfejsów oraz modelowania grafiki 3D w
        programie Rhinoceros.
      </p>
    </app-expanding-card>

    <app-expanding-card
      class="grid-item col-md-6 col-lg-4"
      cardTitle="pozostałe umiejętności"
    >
      <p class="card-text">
        Obecnie pełnię funkcję Team Leadera zespołu zajmującego się programem
        Archicad. Rozwija to moją umiejętność pracy w zespole i planowania
        pracy. Myślę, że czas moich studiów oraz pracy jako architekt rozwinął
        we mnie otwartość na ciągłe doskonalenie projektów i swojej pracy, a
        także umiejętność przekuwania krytyki na nowe, lepsze rozwiązania.
        Jestem osobą otwartą na naukę, mam bardzo mocną potrzebę rozwijania
        swoich talentów. Znam biegle język angielski oraz komunikatywnie język
        niemiecki.
      </p>
    </app-expanding-card>
  </div>
</section>
