<section class="container" id="gamedev">
  <div class="row">
    <div class="col-lg-12 mb-3">
      <h1 class="mainTitles">UNITY + C#</h1>
    </div>

    <div class="col-lg-4" *ngFor="let el of data; index as i">
      <div class="card" (click)="el.hidden = false">
        <img alt="" src="{{ el.img }}" class="card-img-top" />
        <div class="card-body d-flex align-items-start flex-column">
          <h5 class="card-title">{{ el.title }}</h5>
        </div>
      </div>
      <app-modal-window
        [ngClass]="{ 'hidden': el.hidden }"
        (hide)="onHideModal(i)"
      >
        <div class="game"><iframe #game [src]="el.url | safe"></iframe></div
      ></app-modal-window>
    </div>
  </div>
</section>
