<section class="container">
  <div class="row">
    <div class="col-lg-12 mb-3">
      <h1 class="mainTitles">
        HTML + CSS + JavaScript
      </h1>
    </div>

    <div class="col-lg-4" *ngFor="let el of data">
      <a href="{{ el.url }}" target="_blank">
        <div class="card">
          <img alt="" src="{{ el.img }}" class="card-img-top" />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">{{ el.title }}</h5>
            <p class="card-text">{{ el.technologies }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
