<section class="container">
  <div class="row">
    <div class="col-lg-12 mb-3">
      <h1 class="mainTitles">
        HTML + CSS + JavaScript
      </h1>
    </div>

    <div class="col-lg-4">
      <a href="../tictactoe" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/tictactoe.jpg"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Tic Tac Toe Game</h5>
            <p class="card-text">React</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-4">
      <a href="../movies-viewer" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/movies-viewer.jpg"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Movies browser</h5>
            <p class="card-text">React</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="../wikipedia-viewer" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/wikipedia-viewer.jpg"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Wikipedia viewer</h5>
            <p class="card-text">React</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="../weather-app" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/weather-app.jpg"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Weather App</h5>
            <p class="card-text">HTML + CSS + React</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="../Miniarchitektura/home.html" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/Miniarchitektura.png"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Miniarchitektura</h5>
            <p class="card-text">HTML + CSS + Bootstrap</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="../WilczysteGardlo/index.html" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/Wilczyste.png"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Wilczyste Gardło</h5>
            <p class="card-text">HTML + CSS</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="index.html" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/Portfolio.png"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Portfolio</h5>
            <p class="card-text">HTML + CSS + JavaScript + Bootstrap</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="../CharacterFrequencies" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/CharacterFrequencies.jpg"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Letter Analyzer</h5>
            <p class="card-text">JavaScript + D3</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="../ColorGame" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/ColorGame.jpg"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Color Game</h5>
            <p class="card-text">HTML + CSS + JavaScript</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="../DataDashboard" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/DataDashboard.jpg"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">CO2 Emissions Data Dashboard</h5>
            <p class="card-text">HTML + CSS + JavaScript + D3</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="../NotesApp" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/NotesApp.jpg"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Notes App</h5>
            <p class="card-text">JavaScript</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="../RandomUser" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/RandomUser.jpg"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Random User Generator</h5>
            <p class="card-text">JavaScript</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="../RonSwanson" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/RonSwanson.jpg"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Ron Swanson Quotes Generator</h5>
            <p class="card-text">JavaScript</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="../Scatterplot" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/Scatterplot.jpg"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Scatterplot</h5>
            <p class="card-text">JavaScript + D3</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="../StartupSite" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/StartupSite.jpg"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Startup Site</h5>
            <p class="card-text">HTML + CSS</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="../animatedGallery" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/animatedGallery.jpg"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Animated Gallery</h5>
            <p class="card-text">HTML + CSS</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="../flag-game-app" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/flag-game-app.jpg"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Flag Game</h5>
            <p class="card-text">React</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="../memory-game-app" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/memory-game-app.jpg"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Memory Game</h5>
            <p class="card-text">React</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="../random-boxes" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/random-boxes.jpg"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Random Boxes</h5>
            <p class="card-text">React</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="../recipes-app" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/recipes-app.jpg"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Recipes App</h5>
            <p class="card-text">HTML + CSS + React</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-4">
      <a href="../Patatap" target="_blank">
        <div class="card">
          <img
            alt=""
            src="assets/imgs/WebDev/Patatap.jpg"
            class="card-img-top"
          />
          <div class="card-body d-flex align-items-start flex-column">
            <h5 class="card-title">Patatap</h5>
            <p class="card-text">HTML + CSS</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
