<section class="container" id="architecture">
  <div class="row">
    <div class="col-lg-12 mb-3">
      <h1 class="mainTitles">ARCHITEKTURA I GRAFIKA</h1>
    </div>

    <div class="col-lg-4" *ngFor="let el of data; index as i">
      <div class="card" (click)="el.hidden = false">
        <img alt="" src="{{ el.img }}" class="card-img-top" />
        <div class="card-body d-flex align-items-start flex-column">
          <h5 class="card-title">{{ el.title }}</h5>
        </div>
      </div>
      <div class="link" *ngIf="el.title === 'Projekt osiedla w Chorzowie'">
        <a class="card-text" href="http://pieing.cafe/" target="_blank"
          >We współpracy z Magdą z pieing.cafe</a
        >
      </div>
      <app-modal-window
        *ngIf="!el.hidden"
        [ngClass]="{ 'hidden': el.hidden }"
        (hide)="el.hidden = true"
      >
        <app-gallery [sources]="el.images"></app-gallery>
      </app-modal-window>
    </div>
  </div>
</section>
