<section class="jumbotron backgroundCol2 graphics">
  <div class="row">
    <div class="col-lg-12 mb-3">
      <h1 class="centerText rounded backgroundCol1 py-1">
        ARCHITEKTURA I GRAFIKA
      </h1>
    </div>
    <div class="col-lg-4">
      <a
        class="modalLink"
        href="#"
        data-toggle="modal"
        data-target="#HotelCzorsztynGallery"
      >
        <div class="card">
          <img
            alt=""
            src="imgs/AG/hotelCzorsztyn/wizualizacja3.jpg"
            class="card-img-top"
          />
          <div class="card-body">
            <!-- d-flex align-items-start flex-column -->
            <h5 class="card-title">Projekt hotelu w Czorsztynie</h5>
          </div>
        </div>
      </a>
      <div
        class="modal fade"
        id="HotelCzorsztynGallery"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered modalBigSize"
          role="document"
        >
          <div class="modal-content">
            <div
              id="carouselExampleIndicators"
              class="carousel slide"
              data-ride="carousel"
            >
              <ol class="carousel-indicators"></ol>
              <div class="carousel-inner"></div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-to-hover">
        <a
          class="modalLink"
          href="#"
          data-toggle="modal"
          data-target="#OsiedleChorzowGallery"
        >
          <img
            alt=""
            src="imgs/AG/domMiejski/wizualizacja2.jpg"
            class="card-img-top"
          />
        </a>
        <div class="card-body">
          <!-- d-flex align-items-start flex-column -->
          <a
            class="modalLink"
            href="#"
            data-toggle="modal"
            data-target="#OsiedleChorzowGallery"
          >
            <h5 class="card-title">Projekt osiedla w Chorzowie</h5>
          </a>
          <a class="card-text" href="http://pieing.cafe/" target="_blank"
            >We współpracy z Magdą z pieing.cafe</a
          >
        </div>
      </div>

      <div
        class="modal fade"
        id="OsiedleChorzowGallery"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered modalBigSize"
          role="document"
        >
          <div class="modal-content">
            <div
              id="OsiedleChorzowGalleryIndicators"
              class="carousel slide"
              data-ride="carousel"
            >
              <ol class="carousel-indicators"></ol>
              <div class="carousel-inner"></div>
              <a
                class="carousel-control-prev"
                href="#OsiedleChorzowGalleryIndicators"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#OsiedleChorzowGalleryIndicators"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <a
        class="modalLink"
        href="#"
        data-toggle="modal"
        data-target="#OsrodekNarciarskiGallery"
      >
        <div class="card">
          <img
            alt=""
            src="imgs/AG/osrodekNarciarski/wizualizacja4.jpg"
            class="card-img-top"
          />
          <div class="card-body">
            <!-- d-flex align-items-start flex-column -->
            <h5 class="card-title">Projekt ośrodka narciarskiego w Szczyrku</h5>
          </div>
        </div>
      </a>
      <div
        class="modal fade"
        id="OsrodekNarciarskiGallery"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered modalBigSize"
          role="document"
        >
          <div class="modal-content">
            <div
              id="OsrodekNarciarskiGalleryIndicators"
              class="carousel slide"
              data-ride="carousel"
            >
              <ol class="carousel-indicators"></ol>
              <div class="carousel-inner"></div>
              <a
                class="carousel-control-prev"
                href="#OsrodekNarciarskiGalleryIndicators"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#OsrodekNarciarskiGalleryIndicators"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <a
        class="modalLink"
        href="#"
        data-toggle="modal"
        data-target="#HalaWystawienniczaGallery"
      >
        <div class="card">
          <img
            alt=""
            src="imgs/AG/halaWystawiennicza/wizualizacja1.jpg"
            class="card-img-top"
          />
          <div class="card-body">
            <!-- d-flex align-items-start flex-column -->
            <h5 class="card-title">Projekt hali wystawienniczej w Gliwicach</h5>
          </div>
        </div>
      </a>
      <div
        class="modal fade"
        id="HalaWystawienniczaGallery"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered modalBigSize"
          role="document"
        >
          <div class="modal-content">
            <div
              id="HalaWystawienniczaGalleryIndicators"
              class="carousel slide"
              data-ride="carousel"
            >
              <ol class="carousel-indicators"></ol>

              <div class="carousel-inner"></div>
              <a
                class="carousel-control-prev"
                href="#HalaWystawienniczaGalleryIndicators"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#HalaWystawienniczaGalleryIndicators"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <a
        class="modalLink"
        href="#"
        data-toggle="modal"
        data-target="#MieszkaniowkaTychyGallery"
      >
        <div class="card">
          <img
            alt=""
            src="imgs/AG/mieszkaniowkaTychy/wizualizacja1.jpg"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">Projekt osiedla mieszkaniowego w Tychach</h5>
          </div>
        </div>
      </a>
      <div
        class="modal fade"
        id="MieszkaniowkaTychyGallery"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered modalBigSize"
          role="document"
        >
          <div class="modal-content">
            <div
              id="MieszkaniowkaTychyGalleryIndicators"
              class="carousel slide"
              data-ride="carousel"
            >
              <ol class="carousel-indicators"></ol>
              <div class="carousel-inner"></div>
              <a
                class="carousel-control-prev"
                href="#MieszkaniowkaTychyGalleryIndicators"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#MieszkaniowkaTychyGalleryIndicators"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <a
        class="modalLink"
        href="#"
        data-toggle="modal"
        data-target="#SchroniskoTokarniaGallery"
      >
        <div class="card">
          <img
            alt=""
            src="imgs/AG/schroniskoTokarnia/wizualizacja2.jpg"
            class="card-img-top"
          />
          <div class="card-body">
            <!-- d-flex align-items-start flex-column -->
            <h5 class="card-title">Projekt schroniska górskiego na Tokarnii</h5>
          </div>
        </div>
      </a>
      <div
        class="modal fade"
        id="SchroniskoTokarniaGallery"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered modalBigSize"
          role="document"
        >
          <div class="modal-content">
            <div
              id="SchroniskoTokarniaGalleryIndicators"
              class="carousel slide"
              data-ride="carousel"
            >
              <ol class="carousel-indicators"></ol>
              <div class="carousel-inner"></div>
              <a
                class="carousel-control-prev"
                href="#SchroniskoTokarniaGalleryIndicators"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#SchroniskoTokarniaGalleryIndicators"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
